// $font-family: 'Averta';
// color
$light:#f7f7f7;
$border-bottom-color:#f7f7f7;
$deep-aqua:#0b8071;
$black:#000000;
$dusty-orange:#f68135;

//
$border1px:0.0625rem;
$border-radius4px: 0.25rem;
// 
$font-size: 1rem;
$font-size2: 1.25rem;
//
$line-height_: 20px;

//
